.list-footer{
  background-color:rgb(87 83 78);
  color: white;
 
}
.content {
  height: 90vh;
  background-image: url("https://images.unsplash.com/photo-1632761637833-b8be546ff075?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8QVdFJTIwZ3JhZHVhdGUlMjBpbWFnZXN8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.contact-form{
  background-image: url("https://images.unsplash.com/photo-1632761637833-b8be546ff075?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8QVdFJTIwZ3JhZHVhdGUlMjBpbWFnZXN8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  
  
}
.content-form {
 background-image: linear-gradient(100deg, rgba(255, 255, 255,.9) 0%,rgba(255, 255, 255,.9) 50%, transparent 50%), url("");
  background-size: 100%;
  width: 100%;

  height: 77vh;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, .2);
}
.field{
  text-align: center;
 justify-content: center;
 word-spacing: normal;
}
.text {
  animation-name: moveUp;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}

@keyframes moveUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50px); /* move text up by 50px */
  }
}
.video-content {
  animation: moveVideo 3s linear;
}

@keyframes moveVideo {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(50%);
  }
}

.left-content {
  animation: moveText 3s linear;
}

@keyframes moveText {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}
